@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font: 16px/28px "Be Vietnam Pro", Arial, Helvetica, sans-serif;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  display: block;
  border: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  transition: 0.4s;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.title-section {
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0.6px;
  text-align: center;
  margin-bottom: 40px;
}

.btn-primary {
  padding: 12px 24px;
  font-weight: 600;

  background-color: #ee8313;
}

.btn-primary:hover {
  background-color: #ef5e10;
}

.btn-secondary {
  padding: 12px 24px;
  font-weight: 600;
  color: #ee8313;
  border: 1px solid #ee8313;
  line-height: 24px;
}

/*Header*/
#header-section {
  padding: 40px 0 107px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.header-logo__img {
  width: 48px;
  height: 48px;
}

.nav-main {
  margin-left: auto;
}

.nav-main__list {
  display: flex;
  gap: 48px;
  margin-right: 72px;
}
.nav-main__link:hover {
  color: #ee8313;
}

/*Banner*/
#banner-section {
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
}

.banner {
  max-width: 475px;
  padding-top: 45px;
}

.banner__header {
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 0.6px;
}
.banner__text {
  margin: 32px 0 48px;
  font-size: 17px;
  color: rgb(255 255 255/80%);
}

.banner-links-wrap {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 40px;
}

.banner-features__text {
  font-weight: 600;
  line-height: 24px;
}

.banner-features__text:first-child {
  margin-right: 40px;
}

.banner-features__text_strong {
  font-weight: 700;
  line-height: 52px;
  font-size: 40px;
  margin-right: 16px;
  vertical-align: sub;
}

.banner-img {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  right: -25px;
}

.banner-img::before {
  position: absolute;
  content: "";
  width: 96%;
  height: 100%;
  top: 0;
  right: 0;
  background: url("../img/baner-main.png") no-repeat;
  z-index: 2;
}

.banner-img::after {
  position: absolute;
  content: "";
  width: 75%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgb(52 52 52 / 30%);
  z-index: 1;
}

/*Rent*/
#rent-section {
  padding: 120px 0;
}

.rent-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.rent {
  position: relative;
  height: 524px;
  background: url("../img/rent.jpg") 50% / cover no-repeat;
  font-weight: 600;
}

.rent:nth-child(2) {
  background-image: url("../img/rent_2.jpg");
}

.rent:nth-child(3) {
  background-image: url("../img/rent_3.jpg");
}

.rent:nth-child(4) {
  background-image: url("../img/rent_4.jpg");
}

.rent__name {
  position: absolute;
  top: 48px;
  left: 48px;
  font-size: 40px;
  letter-spacing: 0.6px;
}

.rent__link {
  position: absolute;
  bottom: 48px;
  right: 60px;
  font-size: 24px;
  letter-spacing: 0.6px;
  padding-right: 30px;
}

.rent__link::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 8px;
  height: 16px;
  transform: translateY(-50%);
  background: url("../img/arrow.svg") 50% / cover no-repeat;
}

.rent__link:hover {
  color: #ffcc2c;
}
